/* ========================== Component Name ========================== */
$component: ".blog-17";

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

#{$component} {
  @apply relative w-full my-8 mx-auto;

  &__wrap {
    @apply grid relative w-full mx-auto py-24 px-12 max-w-screen-xl text-wire-dark;
    grid-gap: 2rem;
    grid-auto-rows: minmax(min-content, 416px);
  }

  &__post {
    @apply inline-block relative;
    width: 100%;
    max-height: 416px;
  }

  &__post-img {
    width: 100%;
    height: 100%;
    max-height: 416px;
    object-position: center;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__post-overlay {
    @apply p-6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__post-title {
    margin-top: 1rem;
  }

  &__post-date {
    @apply text-wire-gray;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__wrap {
      grid-template-rows: repeat(1, minmax(min-content, 416px));
      grid-template-columns: repeat(4, 1fr);
    }

    &__post {
      &:nth-child(1) {
        grid-area: 1 / 1 / span 1 / span 2;
      }
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

#{$component}.someClass {
  // some style here
  #{$component}__wrap {
    // some style there
  }
}
